---
import "@fontsource-variable/inter";
import Navbar from "../components/Navbar";
import PageAnimation from "../components/PageAnimation";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/assets/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-gradient-to-br from-black to-[#303030] font-sans text-white">
    <div class="flex min-h-screen flex-row justify-center md:p-0">
      <div class="w-full md:w-[800px]">
        <Navbar />
        <PageAnimation client:load>
          <slot />
        </PageAnimation>
      </div>
    </div>
  </body>
</html>
